:root {
  --anaerobic-orange: #F58A07;
  --zen-indigo: #928DF7;
  --glossary-violet: #2E294E;
  --git-black: #000;
  --minimal-white: #fff;

  --text: #050316; /* Git Black */
  --bg: #ffffff; /* Minimal White */
  --primary: #928DF7; /* Zen Indigo */
  --secondary: #2d284d; /* Glossary Violet */
  --accent: #f28907; /* Anaerobic Orange */
 
  --bg5: hsla(0, 0%, 100%, 5%);
  --bg10: hsla(0, 0%, 100%, 10%);
  --bg15: hsla(0, 0%, 100%, 15%);
  --bg20: hsla(0, 0%, 100%, 20%);
  --bg25: hsla(0, 0%, 100%, 25%);
  --bg30: hsla(0, 0%, 100%, 30%);
  --bg35: hsla(0, 0%, 100%, 35%);
  --bg40: hsla(0, 0%, 100%, 40%);
  --bg45: hsla(0, 0%, 100%, 45%);
  --bg50: hsla(0, 0%, 100%, 50%);
  --bg55: hsla(0, 0%, 100%, 55%);
  --bg60: hsla(0, 0%, 100%, 60%);
  --bg65: hsla(0, 0%, 100%, 65%);
  --bg70: hsla(0, 0%, 100%, 70%);
  --bg75: hsla(0, 0%, 100%, 75%);
  --bg80: hsla(0, 0%, 100%, 80%);
  --bg85: hsla(0, 0%, 100%, 85%);
  --bg90: hsla(0, 0%, 100%, 90%);
  --bg95: hsla(0, 0%, 100%, 95%);
  --text5: hsl(246, 76%, 5%, 5%);
  --text10: hsl(246, 76%, 5%, 10%);
  --text15: hsl(246, 76%, 5%, 15%);
  --text20: hsl(246, 76%, 5%, 20%);
  --text25: hsl(246, 76%, 5%, 25%);
  --text30: hsl(246, 76%, 5%, 30%);
  --text35: hsl(246, 76%, 5%, 35%);
  --text40: hsl(246, 76%, 5%, 40%);
  --text45: hsl(246, 76%, 5%, 45%);
  --text50: hsl(246, 76%, 5%, 50%);
  --text55: hsl(246, 76%, 5%, 55%);
  --text60: hsl(246, 76%, 5%, 60%);
  --text65: hsl(246, 76%, 5%, 65%);
  --text70: hsl(246, 76%, 5%, 70%);
  --text75: hsl(246, 76%, 5%, 75%);
  --text80: hsl(246, 76%, 5%, 80%);
  --text85: hsl(246, 76%, 5%, 85%);
  --text90: hsl(246, 76%, 5%, 90%);
  --text95: hsl(246, 76%, 5%, 95%);
  --primary5: hsl(243, 87%, 76%, 5%);
  --primary10: hsl(243, 87%, 76%, 10%);
  --primary15: hsl(243, 87%, 76%, 15%);
  --primary20: hsl(243, 87%, 76%, 20%);
  --primary25: hsl(243, 87%, 76%, 25%);
  --primary30: hsl(243, 87%, 76%, 30%);
  --primary35: hsl(243, 87%, 76%, 35%);
  --primary40: hsl(243, 87%, 76%, 40%);
  --primary45: hsl(243, 87%, 76%, 45%);
  --primary50: hsl(243, 87%, 76%, 50%);
  --primary55: hsl(243, 87%, 76%, 55%);
  --primary60: hsl(243, 87%, 76%, 60%);
  --primary65: hsl(243, 87%, 76%, 65%);
  --primary70: hsl(243, 87%, 76%, 70%);
  --primary75: hsl(243, 87%, 76%, 75%);
  --primary80: hsl(243, 87%, 76%, 80%);
  --primary85: hsl(243, 87%, 76%, 85%);
  --primary90: hsl(243, 87%, 76%, 90%);
  --primary95: hsl(243, 87%, 76%, 95%);
  --secondary5: hsl(248, 32%, 23%, 5%);
  --secondary10: hsl(248, 32%, 23%, 10%);
  --secondary15: hsl(248, 32%, 23%, 15%);
  --secondary20: hsl(248, 32%, 23%, 20%);
  --secondary25: hsl(248, 32%, 23%, 25%);
  --secondary30: hsl(248, 32%, 23%, 30%);
  --secondary35: hsl(248, 32%, 23%, 35%);
  --secondary40: hsl(248, 32%, 23%, 40%);
  --secondary45: hsl(248, 32%, 23%, 45%);
  --secondary50: hsl(248, 32%, 23%, 50%);
  --secondary55: hsl(248, 32%, 23%, 55%);
  --secondary60: hsl(248, 32%, 23%, 60%);
  --secondary65: hsl(248, 32%, 23%, 65%);
  --secondary70: hsl(248, 32%, 23%, 70%);
  --secondary75: hsl(248, 32%, 23%, 75%);
  --secondary80: hsl(248, 32%, 23%, 80%);
  --secondary85: hsl(248, 32%, 23%, 85%);
  --secondary90: hsl(248, 32%, 23%, 90%);
  --secondary95: hsl(248, 32%, 23%, 95%);
  --accent5: hsl(33, 94%, 49%, 5%);
  --accent10: hsl(33, 94%, 49%, 10%);
  --accent15: hsl(33, 94%, 49%, 15%);
  --accent20: hsl(33, 94%, 49%, 20%);
  --accent25: hsl(33, 94%, 49%, 25%);
  --accent30: hsl(33, 94%, 49%, 30%);
  --accent35: hsl(33, 94%, 49%, 35%);
  --accent40: hsl(33, 94%, 49%, 40%);
  --accent45: hsl(33, 94%, 49%, 45%);
  --accent50: hsl(33, 94%, 49%, 50%);
  --accent55: hsl(33, 94%, 49%, 55%);
  --accent60: hsl(33, 94%, 49%, 60%);
  --accent65: hsl(33, 94%, 49%, 65%);
  --accent70: hsl(33, 94%, 49%, 70%);
  --accent75: hsl(33, 94%, 49%, 75%);
  --accent80: hsl(33, 94%, 49%, 80%);
  --accent85: hsl(33, 94%, 49%, 85%);
  --accent90: hsl(33, 94%, 49%, 90%);
  --accent95: hsl(33, 94%, 49%, 95%);
}


:root {
  font-family: 'Unbounded', sans-serif;
  --font-scale: 1.333;
  --p: 1rem;
  --h5: calc(var(--p) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h25: calc(var(--h3) * 1.2);
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));
  --small: calc(var(--p) / var(--font-scale));

  --margin-lg: 0 12%;
  --margin-md: 0 6%;

  --border1: 1rem;
  --border05: 0.5rem;
}


/* Styling */
html {
  scroll-behavior: smooth;
  font-size: 100%;
  overflow-x: hidden;
}

.body {
  color: var(--text);
  background-color: var(--bg);
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
  line-height: 1.75;
}

body, p, a, span {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
  color: var(--git-black);
  font-size: 1rem;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: "unbounded", sans-serif;
    line-height: 1.5;
    margin: 0;
}

p,
small,
a,
li,
table {
    font-family: "Montserrat", sans-serif;
    line-height: 2.25;
    margin: 0;
}


/* text styles */
h1 {
    font-size: var(--h1);
    letter-spacing: 0;
    font-weight: 700  !important;
}

h2 {
    
    font-size: var(--h2)!important;
    letter-spacing: 0 !important;
    font-weight: 600  !important;
}

h3 {
    font-size: var(--h3);
    font-weight: 400 !important;
}

h4 {
    font-size: var(--h4);
    font-weight: 400 !important;
}

h5 {
    font-size: var(--h5);
    font-weight: 350  !important;
}

a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
}

p {
    font-size: var(--p);
    letter-spacing: normal;
    text-align: left;
}


/* Icons */
.fa {
  color: var(--accent) !important;
  padding: 10px;
  text-decoration: none !important;
  transition: 0.5s;
}

.fa-language {
  color: var(--primary) !important;
  padding: 10px;
  text-decoration: none !important;
  transition: 0.5s;
}

.fa:hover {
  color: var(--secondary) !important;
  transform: translate(0, -3px);
}

.unselectable {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  }

/* Buttons */
.primary-button {
  text-decoration: none;
  padding: 0.5em 2em;
  background-color: var(--primary);
  color: var(--bg);
  border-radius: var(--border05);
  border: none;
  transition: transform ease 0.2s, background-color ease 0.2s;
  display: inline-block;
  font-size: var(--p);
  z-index: 2;
  white-space: nowrap;
}

.primary-button:hover {
  color: var(--bg);
  background-color: var(--primary75);
  transform: translate(0, -3px);
}


.secondary-button {
  padding: 0.5em 2em;
  background-color: var(--secondary);
  color: var(--bg);
  border-radius: var(--border05);
  border: none;
  display: inline-block;
  font-size: var(--p);
  z-index: 1;
  cursor: pointer;
  transition: transform ease 0.2s, background-color ease 0.2s;
  white-space: nowrap;
}

.secondary-button:hover {
  background-color: var(--secondary75);
  transform: translate(0, -3px);
  transition: transform ease 0.2s;
}

.secondary-outline-button, .secondary-outline-button:visited {
  padding: 0.5em 2em;
  background-color: var(--bg45);
  color: var(--secondary);
  border-radius: var(--border05);
  border-color: var(--secondary);
  border-width: 2px;
  display: inline-block;
  font-size: var(--p);
  z-index: 1;
  cursor: pointer;
  transition: transform ease 0.2s, background-color ease 0.2s;
  white-space: nowrap;
}

.secondary-outline-button:hover {
  background-color: var(--secondary);
  color: var(--bg);
  transform: translate(0, -3px);
  transition: transform ease 0.2s;
}

/* Topnav */
.topnav {
    overflow: hidden;
    background-color: var(--minimal-white);
  }

.header {
  background-color: var(--minimal-white);
  position: fixed; 
  width: 100%;
  z-index: 1000;
}

.topnav-text {
  color: var(--git-black);
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
}

.topnav-image {
  margin-right: 10px !important;
  margin-left: 10px !important;
  text-decoration: none;
}

.nav-link {
  color: var(--secondary) !important;
  font-style: italic;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-link:hover {
  color: var(--git-black) !important;
}

.nav-link .char {
  font-family: "unbounded", sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  transition: font-weight 0.5s ease-in-out, color 0.5s ease-in-out, font-size 0.5s ease-in-out;
  transition-delay: calc(var(--char-index) * 0.05s);
}

.nav-animate:hover .char {
  font-weight: 900;
  color: var(--accent);
  font-size: 1.2rem;
}

.nav-link-active {
  font-family: "unbounded", sans-serif;
  font-style: italic;
  font-weight: 900 !important;
  font-size: 1.2rem !important;
}

.nav-link-active:hover {
  font-weight: 900;
}

/* Hero */
.hero {
  position: relative;
  margin-top: 3rem;
  background-color: var(--minimal-white);
  width: 100vw;
  height: 95vh;
  overflow: show;
}

.hero-subheading {
  font-size: var(--h25);
  font-weight: 900;
  font-family: "unbounded", sans-serif;
  line-height: 1.5;
}

.hero-purple {
  color: var(--accent15) !important;
  font-size: var(--h25);
  font-weight: 900;
  font-family: "unbounded", sans-serif;
  line-height: 1.5;
  -webkit-text-stroke: 1px var(--accent);
  text-decoration-line: underline;
  text-decoration-thickness: 0rem;
  transition: 0.5s;
}

.hero-purple:hover {
  -webkit-text-stroke: 1px var(--accent);
  color: var(--accent) !important;
  text-decoration-thickness: 0.4rem;
}

.hero-yellow {
  color: var(--primary15) !important;
  font-size: var(--h25);
  font-weight: 900;
  font-family: "unbounded", sans-serif;
  line-height: 1.5;
  -webkit-text-stroke: 1px var(--primary);
  text-decoration-line: underline;
  text-decoration-thickness: 0rem;
  transition: 0.5s;
}

.hero-yellow:hover {
  -webkit-text-stroke: 1px var(--primary);
  color: var(--primary) !important;
  text-decoration-thickness: 0.4rem;
}

.hero-interactive {
  z-index: 20;
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 95vh;
  overflow: hidden;
  outline: none;
}

.parent {
  position: relative;
  top: 0;
  left: 0;
}

.hero-hidden {
  position: relative;
  top: 0;
  left: 0;
}

.hero-img {
  transform: scale(0.9);
  position: absolute;
  top: 0px;
  left: 0px;
  transition: 0.75s;
}

.hero-img:hover {
  transform: rotate(25deg) scale(0.59);  
}

/* Over Mij */
.about {
  text-align: center;
  background-image: linear-gradient(to right top, var(--text5), var(--accent5));
}

.about-text {
  padding-top: 20px;
}

.card {
  flex: 1 1 calc(25% - 40px);
  border-radius: 20px !important;
  margin: 1rem;
  text-align: center;
  background-color: var(--primary10) !important;
  padding: 1rem;
  border-style: hidden !important;
}

/* Newsletter */
.newsletter {
  text-align: center;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.919), rgba(255, 255, 255, 0.684), rgba(255, 255, 255, 0)), 
                    url("image/mrt-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation: pan-background 50s ease-in-out infinite;
}

@keyframes pan-background {
  0% { background-position: 0% 0%; }
  50% { background-position: 0% 100%; }
  100% { background-position: 0% 0%; }
}

.newsletter-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: var(--h3);
  font-style: italic;
  text-decoration: underline;
  padding-bottom: 0.5rem;
  color: var(--git-black);
}

.newsletter-text {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 1rem;
}

.newsletter-logo {
  flex-basis: 30%;
}

/* Contact */
.contact {
  background-image: url("image/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.contact-title {
  padding-bottom: 0.5rem;
}

/* About Page */
.about-me {
  margin-top: 5rem;
  text-align: center;
  color: var(--secondary);
}

.introduction-title {
  color: var(--accent);
}

.introduction-title2 {
  color: var(--primary);
}

.ambition {
  text-align: center;
}

.ambition-row {
  display: flex;
  justify-content: space-between;
  padding: 15%;
}

.ambition-head {
  color: var(--secondary);
  font-weight: 600;
}

.ambition-head2 {
  color: var(--secondary);
  font-weight: 600;
}

.ambition-text {
  color: var(--git-black);
}

.contact-container {
  text-align: center;
  color: var(--primary);
}

.wees-paars-explanation {
  color: var(--secondary);
}


/* Contact Page */
.contact {
  text-align: center;
  margin-top: 5rem;
}

.contact-text {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

.contact-form iframe {
  flex: 1;
}

.contact-form img {
  flex-shrink: 0;
}

/* Projects */
.flex-image {
  width: 100%; 
  height: auto; 
}

/* Footer */
.footer {
  width: 100%;
  color: var(--git-black);
  text-align: left;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  padding: 2% 15%;
}

.footer-head {
  color: var(--accent);
  font-size: 1rem;
  font-weight: 900;
}

.footer-text {
  color: var(--git-black);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-link {
  color: var(--primary);
}

.footer-link:hover {
  color: var(--secondary);
}

/* Mobile */
@media screen and (max-width: 768px) {
  .hero-heading {
    font-size: 2.5rem;
  }

  .hero-subheading {
    font-size: 1.5rem;
  }

  .hero-purple {
    font-size: 1.5rem;
  }

  .hero-yellow {
    font-size: 1.5rem;
  }

  .mobile-hide {
    display: none;
  }

  .center-img {
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}