:root {
  --purple: #B080EF;
  --yellow: #F9DB6D;
  --light-blue: #709AC2;
  --dark-blue: #3E6990;
  --dark-purple: #230C33;
  --white: white;
}

/* Styling */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.body {
  background-color: var(--white);
}

body, p, a, span {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
  color: var(--dark-purple);
  font-size: 1rem;
}

.heading, h1 {
  font-family: "Unbounded", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 2rem;
  color: var(--dark-blue);
}

.subheading, h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--light-blue);
}

/* Icons */
.fa {
  color: var(--dark-blue) !important;
  font-size: 3em !important;
  padding: 10px;
  text-decoration: none !important;
}

.fa:hover {
  color: var(--dark-purple) !important;
}

.unselectable {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  }


/* Topnav */
.topnav {
    overflow: hidden;
    background-color: var(--white);
  }

.header {
  background-color: var(--white);
  position: fixed; 
  width: 100%;
  z-index: 1000;
}

.topnav-text {
  color: var(--dark-blue);
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
}

.topnav-image {
  margin-right: 10px !important;
  margin-left: 10px !important;
  text-decoration: none;
}

.nav-link {
  color: var(--dark-purple) !important;
  font-style: italic;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-link:hover {
  color: var(--purple) !important;
}

.nav-link .char {
  font-family: "unbounded", sans-serif;
  font-size: 1.1rem;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  transition: font-weight 0.5s ease-in-out, color 0.5s ease-in-out, font-size 0.5s ease-in-out;
  transition-delay: calc(var(--char-index) * 0.05s);
}

.nav-animate:hover .char {
  font-weight: 900;
  color: var(--purple);
  font-size: 1.2rem;
}

.nav-link-active {
  font-family: "unbounded", sans-serif;
  font-style: italic;
  font-weight: 900 !important;
  font-size: 1.2rem !important;
}

.nav-link-active:hover {
  font-weight: 900;
}

/* Hero */
.hero {
  position: relative;
  margin-top: 3rem;
  background-color: var(--white);
  width: 100vw;
  height: 90vh;
  overflow: show;
}

.hero-heading {
  color: var(--dark-blue);
  font-size: 3.5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hero-subheading {
  color: var(--light-blue);
  font-size: 2.5rem;
}

.hero-purple {
  color: var(--purple);
  font-size: 2.5rem;
  -webkit-text-stroke: 1px var(--purple);
  transition: 0.3s;
}

.hero-purple:hover {
  -webkit-text-stroke: 1px var(--purple);
  color: rgb(255, 255, 255) !important;
}

.hero-yellow {
  color: var(--yellow);
  font-size: 2.5rem;
  -webkit-text-stroke: 1px var(--yellow);
  transition: 0.3s;
}

.hero-yellow:hover {
  -webkit-text-stroke: 1px var(--yellow);
  color: rgb(255, 255, 255) !important;
}

@media screen and (max-width: 768px) {
  .hero-heading {
    font-size: 2.5rem;
  }

  .hero-subheading {
    font-size: 1.5rem;
  }

  .hero-purple {
    font-size: 1.5rem;
  }

  .hero-yellow {
    font-size: 1.5rem;
  }

  .mobile-hide {
    display: none;
  }
}

.hero-interactive {
  z-index: 20;
}

.btn-outline-secondary, .btn-outline-secondary:visited {
  color: var(--dark-purple) !important;
  background-color: rgba(255, 255, 255, 0.453) !important;
  border-color: var(--dark-blue) !important;
  font-weight: normal !important;
  border-width: 2px !important;
}

.btn-outline-secondary:hover, .btn-outline-secondary:active {
  background-color: var(--dark-blue) !important;
  color: var(--white) !important;
  border-color: #edf8ff !important;
}

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  overflow: show;
  outline: none;
}


/* Over Mij */
.about {
  text-align: center;
}

.about-title {
  color: var(--dark-blue);
  font-weight: bold;
}

.about-head {
  color: var(--purple);
}

.about-text {
  font-size: 1.15rem;
  padding-top: 20px;
  color: var(--dark-purple);
}

.card {
  flex: 1 1 calc(25% - 40px);
  border-radius: 20px !important;
  margin: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: var(--white);
  padding-bottom: 6rem;
}

/* Newsletter */
.newsletter {
  text-align: center;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.919), rgba(255, 255, 255, 0.684), rgba(255, 255, 255, 0)), 
                    url("image/mrt-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  animation: pan-background 50s ease-in-out infinite;
}

@keyframes pan-background {
  0% { background-position: 0% 0%; }
  50% { background-position: 0% 100%; }
  100% { background-position: 0% 0%; }
}

.newsletter-title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  font-style: italic;
  text-decoration: underline;
  padding-bottom: 0.5rem;
  color: var(--dark-purple);
}

.newsletter-text {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin-top: 1rem;
}

.newsletter-logo {
  flex-basis: 30%;
}

/* Contact */
.contact {
  background-image: url("image/contact-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.contact-title {
  font-weight: bold;
  padding-bottom: 0.5rem;
  color: var(--dark-blue);
}

/* About Page */
.about-me {
  margin-top: 5rem;
  text-align: center;
  color: var(--dark-blue);
}

.introduction-title {
  color: var(--purple);
}

.introduction-title2 {
  color: var(--dark-blue);
}

.ambition {
  text-align: center;
}

.ambition-row {
  display: flex;
  justify-content: space-between;
  padding: 15%;
}

.ambition-head {
  color: var(--yellow);
  font-weight: 600;
}

.ambition-head2 {
  color: var(--light-blue);
  font-weight: 600;
}

.ambition-text {
  color: var(--dark-purple);
}

.contact-container {
  text-align: center;
  color: var(--purple);
}

.wees-paars-explanation {
  color: var(--dark-blue);
}


/* Contact Page */
.contact {
  text-align: center;
  margin-top: 5rem;
}

.contact-title {
  color: var(--dark-blue);
}

.contact-text {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
}

.contact-form iframe {
  flex: 1;
}

.contact-form img {
  flex-shrink: 0;
}

/* Footer */
.footer {
  width: 100%;
  color: var(--dark-purple);
  text-align: left;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  padding: 2% 15%;
}

.footer-head {
  color: var(--purple);
  font-weight: bold;
  font-size: 1rem;
}

.footer-text {
  color: var(--dark-purple);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-link {
  color: var(--dark-blue);
}

.footer-link:hover {
  color: var(--dark-purple);
}